<% content_for :page_title do %>
  <%= Spree.t(:shipped_weekly, scope: :weekly_reports) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, class: 'button' %></li>
<% end %>


<% content_for :table_filter_title do %>
  <%= Spree.t(:date_range) %>
<% end %>

<% content_for :table_filter do %>
  <%= render partial: 'spree/admin/reports/shipped_weekly_criteria', locals: {} %>
<% end %>

<table class="admin-report" data-hook="shipped_weekly">
  <thead>
    <tr>
      <th><%= Spree.t(:sku) %></th>
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:amount) %></th>
    </tr>
  </thead>
  <tbody>
    <% @totals.each do |id, data| %>
      <tr>
        <td><%= data[:sku] %></td>
        <td><%= data[:name] %></td>
        <td><%= data[:amount] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
